<div class="ui grid stackable">
  <div class="four wide column"></div>
  <div class="eight wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment stacked" style="background: #d3fff2">
      <div class="ui header huge centered"><i class="lock icon"></i>Login</div>
      <%= form_for(:session, html: { class: 'ui form', role: 'form' }, url: login_path) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <div class="ui left icon input">
            <%= f.text_field :email, placeholder: 'Email' %>
            <i class="user icon"></i>
          </div>
        </div>
        <div class="field">
          <%= f.label :password %>
          <div class="ui left icon input">
            <%= f.password_field :password, placeholder: 'Password' %>
            <i class="user icon"></i>
          </div>
        </div>
        <%= f.submit 'Login', class: 'ui button blue big' %>
      <% end %>
    </div>
  </div>
</div>
