<div class="ui grid">
  <div class="ui row" style="opacity: 0.8">
    <div class="four wide column"></div>
    <div class="three wide column">
      <div class="ui large vertical buttons" style="margin-top: 2.5vh;">
        <%= if @exchange.open %>
          <%= link_to "I agree to trade", etrade_path(@exchange), class: 'ui button green' %>
          <%= link_to "Dismiss", exchange_path(@exchange), method: :delete, class: 'ui button red'%>
        <% else %>
          <%= link_to "Done trading!", etrade_path(@exchange), class: 'ui button green' %>
        <% end %>
      </div>
    </div>
    <div class="two wide column"></div>
    <div class="ui padded segment raised">
      <h2 class="ui center aligned small icon header" data-current-exchange="<%= @exchange.id %>" id="exchange-header">
        <i class="circular blue inverted coffee icon"></i>
        Discuss details of the exchange
      </h2>
    </div>
  </div>

  <div class="ui row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui fluid piled center aligned segment">
        <div class="floating ui teal label"><%= Category.find_by(id: @request.meta_id) %></div>
        <h2 class="ui icon header">
          <div class="content">
            <%= @request.item_name %>
            <div class="sub header"><%= @request.description %></div>
          </div>
        </h2>
      </div>
    </div>
  </div>

  <div class="ui row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content" id="messages">
          <div class="ui feed" id="message-container">
            <%= render @messages %>
          </div>
        </div>
        <div class="extra content">
          <%= form_for(@message, html: { class: 'ui reply form', role: 'form' }, url: messages_path, remote: true) do |f| %>
            <div class="field">
              <div class="ui fluid icon input">
                <%= f.text_field :body %>
                <%= f.button '<i class="bordered inverted orange icon edit"></i>'.html_safe %>
              </div>
            </div>
            <%= hidden_field_tag 'exchange_id', @exchange.id %>
            <%= hidden_field_tag 'meta_id', current_user.id %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
