<h2 class="ui center aligned medium icon header">
  <i class="circular orange inverted coffee icon"></i>
  Say something
</h2>

<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content" id="messages">
        <div class="ui feed" id="message-container">
          <%= render @messages %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: { class: 'ui reply form', role: 'form' }, url: messages_path, remote: true) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button '<i class="bordered inverted orange icon edit"></i>'.html_safe %>
            </div>
          </div>
          <%= hidden_field_tag 'exchange_id', @exchange.id %>
          <%= hidden_field_tag 'meta_id', current_user.id %>
        <% end %>
      </div>
    </div>
  </div>
</div>
