<div class="ui grid stackable">
  <div class="three wide column"></div>
  <div class="ten wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment stacked" style="background: white; opacity: 0.9">
      <h2 class="ui header center aligned" style="margin-bottom: 5vh;">
        <img class="ui circular image" src="https://semantic-ui.com/images/avatar2/large/patrick.png">
        <div class="content">
          <%= current_user.username %>
        </div>
      </h2>
      <div class="ui two column grid">
        <div class="column">
          <div class="ui raised segment center aligned">
            <div class="floating ui red label large"><%= @current_trades %></div>
            <h2 class="ui header">
              Current Trades
            </h2>
            <h6 style="padding: 0; margin-top: -2vh;">All the trades you've agreed on</h6>
            <%= link_to current_path, class: 'ui animated button basic purple' do %>
              <div class="visible content">You have <%= @current_trades %> trades to view</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            <% end %>
          </div>
        </div>
        <div class="column">
          <div class="ui raised segment center aligned">
            <div class="floating ui red label large"><%= @new_messages %></div>
            <h2 class="ui header">
              New Messages
            </h2>
            <h6 style="padding: 0; margin-top: -2vh;">All the trades you've agreed on</h6>
            <%= link_to pending_path, class: 'ui animated button basic green' do %>
              <div class="visible content">You have <%= @new_messages %> messages to view</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ui one column grid">
        <div class="column">
          <div class="ui raised segment center aligned">
            <h2 class="ui header" style="margin-top:1vh; margin-bottom: 0;">What do you need from your neighbors?</h2>
            <br />

            <div class="ui fluid floating dropdown labeled search icon button" style='margin-bottom: 1vh;'>
              <i class="filter icon"></i>
              <span class="text">Select a category</span>
              <div class="menu">
                <% Category.all.each do |category| %>
                  <%= link_to new_request_path(category_id: category.id), class: 'item' do %>
                    <%= image_tag category.icon %>
                    <%=  category.name %>
                  <% end %>
                <%end%>
              </div>
            </div>

            <br />

            <%= link_to requests_path, class: 'ui animated button basic teal', id: 'cats' do %>
              <div class="visible content">View my requests</div>
              <div class="hidden content">
                <i class="right arrow icon"></i>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="ui horizontal divider" style="margin-top: 5vh;">
        Your neighbors' requests
      </div>

      <table class="ui four column table selectable inverted">
        <thead>
          <tr><th class="">Neighbor</th>
          <th class="center aligned">Item</th>
          <th class="right aligned"></th>
          <th class="right aligned">Do you have some to spare?</th>
          <th></th>
        </tr></thead>
        <tbody>
          <% Request.all.each do |req|%>
          <% if req.user != current_user %>
            <tr id="request-<%=req.id%>">
              <td><%= req.user.username %></td>
              <td class="center aligned"><%= req.item_name %></td>
              <td></td>
              <% already_accepted = [] %>
              <% current_user.exchanges.each { |exchange| already_accepted.append(exchange.meta_id) } %>
              <%if already_accepted.include?(req.id) %>
                <td class="left aligned"><%= link_to 'Already Messaged', dashboard_path, method: :post, class: 'ui button orange basic' %></td>
              <%else%>
                <td class="center aligned"><button class="ui button red basic" onclick="hideRequest(<%=req.id%>)">No</td>
                <td class="left aligned"><%= link_to 'Yes', exchanges_path(request_id: req.id), method: :post, class: 'ui button green basic' %></td>
              <%end%>
            </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
