<div class="ui raised very padded text container segment">
  <img class="ui small centered image" src="https://i.imgur.com/QEcOYpo.png">
  <h1 class="ui centered header">Sign Up</h1>


<%= form_for @user, html: { class: 'ui form' } do |f| %>
  <div class="field">

    <%= f.label :username, class:"" %><br />
    <%= f.text_field :username, placeholder: "Enter username", autofocus: true, class: "form-control", type: "text", class: ''%>
  </div>
  <div class="field">
    <div class="field">
      <%= f.label :zipcode%><br />
      <%= f.password_field :zipcode, placeholder: "Enter zip code", class: "form-control", type: "text"%>
    </div>
    <%= f.label :email, class:"" %><br />
    <%= f.text_field :email, placeholder: "Enter email", autofocus: true, class: "form-control", type: "text"%>
  </div>
  <div class="field">
    <%= f.label :password%><br />
    <%= f.password_field :password, placeholder: "Enter password", class: "form-control", type: "text"%>
  </div>
  <%= f.submit 'Create user', class: 'ui blue button' %>
<% end %>
<h3 class="ui horizontal divider header">
</div>
