<div class="ui grid stackable">
  <div class="ui row centered">
    <div class="ui card">
      <div class="ui image">
        <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg" class="visible content">
      </div>
      <div class="content">
        <a class="header"><%= @user.username %></a>
        <div class="meta">
          <span class="date"><%= @trades %> trades</span>
        </div>
        <br />
        <div class="meta">
          <span class="date">Joined one day ago</span>
        </div>
        <div class="meta">
          <span class="date">Zip code <%= @user.community.zipcode %></span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <div class="ui rating" id="user-rating" data-rating="4" data-max-rating="5"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="three wide column"></div>
  <div class="ten wide column" style="margin-top: 2vh;">
    <div class="ui very padded segment stacked" style="background: white; opacity: 0.9">

      <h2 class="ui header center aligned" style="margin-bottom: 5vh;">
        <%= image_tag 'inventory.png', class: 'ui circular image' %>

        <div class="content">
          My stuff
        </div>
      </h2>
      <% if @user == current_user %>
        <%= link_to 'Add more items', new_item_path, class: 'fluid ui button green basic' %>
      <% end %>
      <div class="ui horizontal divider">
        All items
      </div>
      <% if !@user.items.empty?%>
        <% Category.all.each do |category| %>
          <% current_items = [] %>
          <% @user.items.each { |i| current_items.append(i) if i.category == category } %>
          <% if !current_items.empty? %>
            <div class="ui row" style="margin-bottom: 2vh;">
              <div class="ui raised segment center aligned">
                <div class="ui top attached label"><%= category.name %></div>
                <div class="ui grid">
                  <% current_items.each do |item| %>
                    <div class="one wide column"></div>
                    <div class="ui segment three wide column center aligned" style="height: 30vh;">
                      <strong><h3><%= item.name %></h3></strong>
                      <p><%= item.description %></p>
                      <% if @user == current_user %>
                        <%= link_to 'Delete', item_path(item), class: "ui button yellow basic", method: :delete, remote: true %>
                      <% else %>
                        <%= link_to 'Trade', tradenow_path(item_name: item.name, description: item.description, category_id: item.category_id, user_id: @user.id), class: "ui button yellow basic" %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h4 class="ui center aligned icon header">
          <i class="hourglass outline users icon"></i>
          No items :( maybe add some?
        </h4>
      <% end %>
    </div>
  </div>

</div>
